#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0px;
}

.main-container {
  min-height: 100%;
  background-color: brown;
  padding: 80px;
  height: 100% !important;
}

.inner-container {
  border-radius: .8rem;
  background-color: white;
  padding: 7px;
  height: 100%;
}