@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* body */
html,
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.72),
  rgba(0, 0, 0, 0.85)), url("./Images/rahmadiyono-widodo-rFMonBYsDqE-unsplash.jpg");
  background-size: cover;
  overflow: auto;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: 'Berkshire Swash', cursive;
  height: 100%;
  width: 100%;
  margin: 0px;
}

/* containers */

.main-container {
  background-color: rgb(177, 149, 127);
  padding: 50px;
  height: 100%;
}

.outline-container {
  border-radius: 2rem;
  height: 100%;
  padding: 15px;
  border: solid white 0.1rem;
}

.inner-container {
  border-radius: 2rem;
  background-color: rgb(241, 241, 241);
  padding: 20px;
  height: 100%;
}

.channel-name-container {
  border-bottom: solid rgb(241, 241, 241) 0.1rem;
  height: 10%;
  border-radius: 2rem 2rem 0rem 0rem;
}

.chat-container {
  width: 78%;
  margin-left: 7px !important;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 0px;
}

.text-input-container {
}

/* content */

.user-row {
  height: 10px;
  width: 40%;
  margin-left: 81%;
}

.user-column {
  padding: 0px !important;
  margin-top: 25px;
}

.user-icon {

}

.username-text {
  font-size: 0.9rem;
}

.channel-text {
  padding-top: 15px;
}

#login-container {
  background: transparent;
  padding: 0;
  margin-top: 15em;
  height: 30em;
  width: 20em;
  border: none;
}

.login-title {
 color: rgb(212, 212, 212);
}

.login-hr {
  border-color: rgba(148, 148, 148, 0.5);
  color: white;
  width: 16em;
}

#login-title-row {
  padding: 0;
}

.login-label {
  color: rgb(212, 212, 212);
  font-weight: normal !important;
  font-size: 1.5em;
}

.login-form-control {
  background-color: transparent;
  width: 12em;
  border-radius: 0;
  border: 1px solid rgba(148, 148, 148, 0.5);
}

.login-form-control:focus{
  background-color: transparent !important;
  border: 1px solid rgb(255, 255, 255);;
}

input, select, textarea:focus {
  color: rgb(212, 212, 212) !important;
  border-radius: 0;
  outline: 0px !important;
  box-shadow: none !important;
  -webkit-appearance:none;
}

button {

  width: 12em;
  border-radius: 0px !important;
}

.alert {
  width: 12em !important;
}


